
.navbar {
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
}

.logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50; 
}

nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

nav a {
    font-weight: 600;
    transition: 0.3s ease;
    padding: 8px 0;
    position: relative;
    text-decoration: none;
    color: black;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: hsl(45, 100%, 51%);
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: hsl(45, 100%, 51%);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    nav {
        width: 100%;
        margin-top: 15px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
    .logo {
        justify-content: center;
        width: 100%;
    }
}

h1{
    text-align: center;
}
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
th, td { padding: 10px; border: 1px solid #ccc; }
th { background: #ffc107; }